*.gem
.bundle
.sass-cache
_site
Gemfile.lock
.DS_Store
vendor
screenshots/
post_temp/
screenshots/positionofpois/apple_asia_z4.png
screenshots/positionofpois/apple_asia_z4_1.png
screenshots/positionofpois/apple_asia_z5.png
screenshots/positionofpois/apple_asia_z5_1.png
screenshots/positionofpois/apple_asia_z6.png
screenshots/positionofpois/apple_asia_z6_1.png
screenshots/positionofpois/apple_eu_z3_1.png
screenshots/positionofpois/apple_eu_z4_1.png
screenshots/positionofpois/apple_eu_z5_1.png
screenshots/positionofpois/apple_eu_z6_1.png
screenshots/positionofpois/apple_google_z6_asia.png
screenshots/positionofpois/apple_z3.png
screenshots/positionofpois/apple_z3_portugal.png
screenshots/positionofpois/apple_z4.png
screenshots/positionofpois/apple_z4_portugal.png
screenshots/positionofpois/apple_z5.png
screenshots/positionofpois/apple_z5_portugal.png
screenshots/positionofpois/apple_z5_portugal.png.png
screenshots/positionofpois/apple_z6.png
screenshots/positionofpois/apple_z6_portugal.png
screenshots/positionofpois/apple_z6_portugal.png.png
screenshots/positionofpois/google_z3_portugal.png
screenshots/positionofpois/google_z4_portugal.png
screenshots/positionofpois/google_z5_portugal.png
screenshots/positionofpois/google_z6_portugal.png
screenshots/positionofpois/ne_centroid_z2.png
screenshots/positionofpois/ne_centroid_z2_1.png
screenshots/positionofpois/ne_centroid_z3.png
screenshots/positionofpois/ne_centroid_z3_1.png
screenshots/positionofpois/ne_centroid_z4_asia.png
screenshots/positionofpois/ne_centroid_z4_eu.png
screenshots/positionofpois/ne_centroid_z4_sa.png
screenshots/positionofpois/ne_centroid_z5_eu.png
screenshots/positionofpois/ne_centroid_z5_southeast_asia.png
screenshots/positionofpois/powerpoint_center.png
screenshots/positionofpois/z3.png
screenshots/positionofpois/z4.png
screenshots/positionofpois/z4_1.png
screenshots/positionofpois/z5.png
screenshots/positionofpois/z5_1.png
screenshots/positionofpois/z6.png
screenshots/positionofpois/z6_1.png
